---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Nasıl stop yaparım] Yayımlama ve Test sonuçlarını analiz? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System, bir projenin kod kalitesini grafik değişiklikleri Proje ilerledikçe sağlar. Bu videoyu publ. hakkında yönergeler sağlar...
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 04/06/2018
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="c0d89-105">[Nasıl stop yaparım] Yayımlama ve Test sonuçlarını analiz?</span><span class="sxs-lookup"><span data-stu-id="c0d89-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="c0d89-106">tarafından [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="c0d89-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="c0d89-107">Visual Studio Team System, bir projenin kod kalitesini grafik değişiklikleri Proje ilerledikçe sağlar.</span><span class="sxs-lookup"><span data-stu-id="c0d89-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="c0d89-108">Bu videoda, Team Foundation Server Proje veritabanına test sonuçlarını yayımlamak ve sonuçları bir yapı numarası ile ilişkilendirmek hakkında yönergeler sağlar.</span><span class="sxs-lookup"><span data-stu-id="c0d89-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="c0d89-109">Sonuçları yayımlandıktan sonra biz Rapor Yöneticisi'ni değişiklikleri grafik gösterimi bizim yapı test sonuçlarını görüntülemek için kullanabileceğiniz bakın.</span><span class="sxs-lookup"><span data-stu-id="c0d89-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="c0d89-110">&#9654;(7 dakika) videoyu izleyin</span><span class="sxs-lookup"><span data-stu-id="c0d89-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="c0d89-111">[Önceki](how-do-i-use-generic-tests.md)
> [sonraki](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="c0d89-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
