---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Nasıl stop yaparım] Yayımlama ve Test sonuçlarını analiz? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System, bir projenin kod kalitesini grafik değişiklikleri Proje ilerledikçe sağlar. Bu videoyu publ. hakkında yönergeler sağlar...
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 04/06/2018
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Nasıl stop yaparım] Yayımlama ve Test sonuçlarını analiz?
====================
tarafından [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System, bir projenin kod kalitesini grafik değişiklikleri Proje ilerledikçe sağlar. Bu videoda, Team Foundation Server Proje veritabanına test sonuçlarını yayımlamak ve sonuçları bir yapı numarası ile ilişkilendirmek hakkında yönergeler sağlar. Sonuçları yayımlandıktan sonra biz Rapor Yöneticisi'ni değişiklikleri grafik gösterimi bizim yapı test sonuçlarını görüntülemek için kullanabileceğiniz bakın.

[&#9654;(7 dakika) videoyu izleyin](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Önceki](how-do-i-use-generic-tests.md)
> [sonraki](how-do-i-discover-application-changes-prior-to-deployment.md)
