---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Bunu nasıl yaparım:] Yayımlama ve Test sonuçlarını Çözümle? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System, bir projenin kod kalitesini grafik değişikliklere Proje ilerledikçe sağlar. Bu videoda publ. hakkında yönergeler sağlar...
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833082"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="049f3-105">[Bunu nasıl yaparım:] Yayımlama ve Test sonuçlarını Çözümle?</span><span class="sxs-lookup"><span data-stu-id="049f3-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="049f3-106">tarafından [Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="049f3-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="049f3-107">Visual Studio Team System, bir projenin kod kalitesini grafik değişikliklere Proje ilerledikçe sağlar.</span><span class="sxs-lookup"><span data-stu-id="049f3-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="049f3-108">Bu videoda, test sonuçlarını Team Foundation Server Proje veritabanında yayımlamak ve sonuçları bir derleme numarası ile ilişkilendirmek hakkında yönergeler açıklanmaktadır.</span><span class="sxs-lookup"><span data-stu-id="049f3-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="049f3-109">Sonuçları yayımlandıktan sonra Rapor Yöneticisi'ni değişiklikleri grafik gösterimi içinde derleme test sonuçları görüntülemek için kullanabiliriz olduğunu görüyoruz.</span><span class="sxs-lookup"><span data-stu-id="049f3-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="049f3-110">&#9654;(7 dakika) videosunu izleyin</span><span class="sxs-lookup"><span data-stu-id="049f3-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="049f3-111">[Önceki](how-do-i-use-generic-tests.md)
> [İleri](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="049f3-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
