---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Bunu nasıl yaparım:] Yayımlama ve Test sonuçlarını Çözümle? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System, bir projenin kod kalitesini grafik değişikliklere Proje ilerledikçe sağlar. Bu videoda publ. hakkında yönergeler sağlar...
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 2beeac7c4d8157787a156af03a42f9c1f7dbbd17
ms.sourcegitcommit: 953ff9ea4369f154d6fd0239599279ddd3280009
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 07/03/2018
ms.locfileid: "37379522"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Bunu nasıl yaparım:] Yayımlama ve Test sonuçlarını Çözümle?
====================
tarafından [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System, bir projenin kod kalitesini grafik değişikliklere Proje ilerledikçe sağlar. Bu videoda, test sonuçlarını Team Foundation Server Proje veritabanında yayımlamak ve sonuçları bir derleme numarası ile ilişkilendirmek hakkında yönergeler açıklanmaktadır. Sonuçları yayımlandıktan sonra Rapor Yöneticisi'ni değişiklikleri grafik gösterimi içinde derleme test sonuçları görüntülemek için kullanabiliriz olduğunu görüyoruz.

[&#9654;(7 dakika) videosunu izleyin](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Önceki](how-do-i-use-generic-tests.md)
> [İleri](how-do-i-discover-application-changes-prior-to-deployment.md)
