---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Bunu nasıl yaparım:] Yayımlama ve Test sonuçlarını Çözümle? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System, bir projenin kod kalitesini grafik değişikliklere Proje ilerledikçe sağlar. Bu videoda publ. hakkında yönergeler sağlar...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: a575dd0af20bb1565606c93e5a189b7a3e35ff3d
ms.sourcegitcommit: 45ac74e400f9f2b7dbded66297730f6f14a4eb25
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 08/16/2018
ms.locfileid: "41755808"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Bunu nasıl yaparım:] Yayımlama ve Test sonuçlarını Çözümle?
====================
tarafından [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System, bir projenin kod kalitesini grafik değişikliklere Proje ilerledikçe sağlar. Bu videoda, test sonuçlarını Team Foundation Server Proje veritabanında yayımlamak ve sonuçları bir derleme numarası ile ilişkilendirmek hakkında yönergeler açıklanmaktadır. Sonuçları yayımlandıktan sonra Rapor Yöneticisi'ni değişiklikleri grafik gösterimi içinde derleme test sonuçları görüntülemek için kullanabiliriz olduğunu görüyoruz.

[&#9654;(7 dakika) videosunu izleyin](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Önceki](how-do-i-use-generic-tests.md)
> [İleri](how-do-i-discover-application-changes-prior-to-deployment.md)
